@charset "UTF-8";
/*
    ** color
*/

/* black */
$white: #ffffff;
$gray-black: #212221;
$gray-gray-01: #212121;
$gray-gray-02: #7a7a7a;
$gray-gray-03: #a6a7a6;
$gray-gray-04: #d3d3d3;
$gray-gray-05: #f2f4f8;
$gray-gray-06: #f4f4f4;
$gray-gray-07: #555;
$gray-gray-09: #1d1d1d;

$gray-gray-0x: #d9d9d9;

/* navy */
$deep-navy: #123250;
$primary-navy-002: #9dc0e4;
$primary-navy-005: #eff8ff;
$primary-navy-006: #f3f4f6;
$primary-navy-01: #b9dbfa;
$primary-navy-02: #718496;
$primary-navy-03: #7ea6cd;
$primary-navy-04: #6692bb;
$primary-navy-05: #4c7faa;
$primary-navy-06: #3e7098;
$primary-navy-07: #2d5c80;
$primary-navy-08: #1e496a;
$primary-navy-09: #063451;

/* gray */
$gray-01: #dde1e6;
$gray-02: #c1c7cd;
$gray-03: #a2a9b0;
$gray-04: #878d96;
$gray-05: #697077;
$gray-06: #4d5358;
$gray-07: #343a3f;
$gray-09: #121619;

/* add color */
$mint: #60c7d2;
$wran: #f15f5f;
$button_default: #a6a7a6;
$button_login: #b59e88;
$item-blue: #3fa3ff;
$item-green: #31bd36;
$item-red: #fe4a4a;
$item-orange: #ff7a00;
$item-gray: #7a7a7a;
$item-lightGray: #a6a7a6;
$item-lightBlue: #6181aa;

/* Error*/
$error-005: #fff5f5;
$error-03: #ff8389;
$error-04: #fa4d56;

/* Success */
$success-005: #f0fffa;
$success-03: #57dbcc;
$success-04: #2eb8b3;

/* Beige */
$secondary-beige-0: #fcfaf8;
$secondary-beige-005: #f3efeb;
$secondary-beige-02: #d7c4b1;
$secondary-beige-03: #b7a99c;
/* Border */
$naver-white-border: #e6e6ea;

/* Dim */
$dim-b-20: rgba(33, 33, 33, 0.2);
$dim-b-40: rgba(33, 33, 33, 0.4);
$dim-b-60: rgba(33, 33, 33, 0.6);
$dim-b-80: rgba(33, 33, 33, 0.8);
$dim-w-20: rgba(255, 255, 255, 0.2);
$dim-w-40: rgba(255, 255, 255, 0.4);
$dim-w-60: rgba(255, 255, 255, 0.6);

/* Font */
$fontFamily: 'Pretendard', 'Montserrat';

$animate-delay: 0.8s;

/* Max Width */
$maxWidth-pc: 1680px;
$maxWidth-mo: 544px;

/* Etc */
$toggle-bg: linear-gradient(86deg, #2ef1ce 46.27%, #00c2ff 92.58%);
$shadow: 0px 0px 8px 0px rgba(18, 22, 25, 0.1);
